html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*
*::before
*::after{
  box-sizing: inherit;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}
img{
  max-width: 100%;
  height: auto;
}

/* OUTLINE STYLES*/
*:focus{
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
}

/* BUTTON */
.button{
  display: inline-block;
  padding: 13px 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  border: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.button:active{
  opacity: 0.6;
}
.button-block{
  display: block;
  width: 100%;
}

/* CONTAINER */
.container{
  max-width: 1240px;
  width: 100%;
  padding-left:  auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

/* SITENAV */
.sitenav{
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.sitenav-logo{
  width: 38px;
  height: 45px;
}
.sitenav-links-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 590px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-between;
}
.sitenav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 270px;
}
.sitenav-links ul{
  display: flex;
  align-items: center;
  list-style-type: none;
}
.sitenav-links-li{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sitenav-links-li:not(:last-child){
  margin-right: 30px;
}

.sitenav-links-li-a{
  text-decoration: none;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
  color: #333;
}
.sitenav-links-li-a:hover{
  border-bottom: 3px solid black;
  margin-bottom: -3px;
}
.search-form-input{
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #333;
  font-size: 17px;
  align-items: center;
}

/* SITE-MAIN */
.site-main{
  width: 1140px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}
.site-main-intro{
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.site-main-intro-texts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 490px;
  margin-top: 91px;
  margin-left: 55px;
}
.site-main-intro-h1{
  width: 331px;
  font-family: Calibri;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #000;
}
.site-main-intro-p{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 450px;
  margin-left: 15px;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #777;
  margin-top: 0;
  border-left: 2px solid #000;
  padding-left: 40px;
}
.site-main-intro-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 260px;
  background: #ea625c;
  margin-top: 30px;
  border: none;
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.site-main-intro-button:active{
  background: #C9514C;

}
.site-main-intro-img{
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* SITE-AMIN-FEATURES */
.site-main-features{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1140px;
  border-top: 1px solid #e5e5e5;
}
.site-main-features-list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1000px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.site-main-feature1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 260px;
  margin-left: 70px;
}
.site-main-feature1:not(:last-child){
  margin-left: 70px;
}
.site-main-feature1-h4{
  width: 280px;
  font-family: Calibri  ;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 20px;
}
.site-main-feature1-p{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #333;
}
.points{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 44px;
  margin-top: 20px;
}
.point1{
  width: 15px;
  height: 8px;
  background-color: #777;
  margin-right: 10px;
  margin-top: -20px;
}
.point2{
  width: 15px;
  height: 8px;
  background-color: #777;
  margin-right: 10px;
  margin-top: -20px;
}
.point3{
  width: 15px;
  height: 8px;
  background-color: #777;
  margin-top: -20px;
}
.site-main-future1-learn{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 149px;
  margin-top: -30px;
}
.site-main-future1-hr{
  width: 40px;
  border: 2px solid #ea625c;
  margin-right: 10px;
}
.site-main-learn{
  width: 100px;
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ea625c;
}

/* SITE-MAIN-ADVERTISEMENT */
.site-main-advertisement-h1{
  width: 380px;
  align-items: flex-start;
  font-family: Calibri;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #000;
  text-align: left;
}
.site-main-advertisement-img{
  width: 420px;
}

/* SITE-FOOTER */
.site-footer{
  background-image: url("Background-img.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: cover;
  width: 1140px;
  margin-top: 70px;
}
.site-footer-texts{
  margin-left: 610px;
  margin-right: 125px;
  margin-top: 180px;
  margin-bottom: 180px;
   color: #fff;
}
.site-footer-h1{
  color: #fff;
  text-align: left;
}
.site-footer-p{
  color: #fff;
  border-left: 1px solid white;
}